.navbar .nav-link {
     font-size: 14px;
     text-transform: uppercase;
     padding-left: 1rem !important;
     padding-right: 1rem !important;     
}

.navbar .nav-item.active {
    border-left:rgb(43, 42, 42) 2px solid;
}

.carousel-item{
    height: 500px;
}

.carousel-image-1{
    background: url("../img/image1.jpg");
    background-size: cover;
}

.carousel-image-2{
    background: url("../img/image2.jpg");
    background-size: cover;
}

.carousel-image-3{
    background: url("../img/image3.jpg");
    background-size: cover;
}

#home-heading{
    position: relative;
    min-height: 250px;
    background: url("../img/poids.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.dark-overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

#page-header{
    height: 200px;
    background: url(../img/image1.jpg);
    background-position: 0 -300px;
    background-attachment: fixed;
    color: white;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
}

/* .about-img {
    margin-top: -60px;
} */

#faq .card{
    border: #444;
} 

#faq a{
    color:white;
    text-decoration: none;
} 

#faq .card-header{
    background: rgb(79, 92, 94);
}

#faq .card-body{
    background: #333
}

#main-footer{
    background: black;
    color: white ;
}